body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0a1930, #071a30);
  color: white;
}

header {
  color: #fff;
  text-align: center;
  margin-top: -20px;
  display: flex;
}
header p {
  font-weight: bold;
  width: 40px;
  height: 30px;
  padding-top: 5px;
  font-size: 1.5rem;
  color: #26b399;
  border: 3px solid;
  margin: 45px;
  margin-top: 55px;
}
header ol {
  list-style-type: none;
  display: flex;
  margin-left: 43%;
  padding-top: 25px;
}

header ol li {
  padding: 15px;
  color: #e0e7f9ba;
}
header ol li span {
  color: #26b399;
}
header a{
    text-decoration: none;
    color: #e0e7f9ba;
}
header button {
  height: 25px;
}
section {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  padding-left: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h1 {
  color: transparent;
  /* background: linear-gradient(to right, #d5e1f9 0%, #d2def7 4%, #bdceed 4%, #acbde3 10%, #C9d7f3 13%, #d5e0f7 16%); */
  background: linear-gradient(
    to right,
    #e0e7f9 3%,
    rgba(215, 224, 247, 0.769) 7%,
    #e0e7f9 18%
  );
  -webkit-background-clip: text;
  font-size: 4rem;
}
section:first-of-type {
  margin-top: -27px;
}
section:first-of-type > * {
  margin-top: 20px;
}
section:first-of-type p {
  width: 35ch;
  color: #d2def985;
  margin-top: -20px;
}
section:first-of-type h2 {
  color: #26b399;
}
section:first-of-type button {
  height: 40px;
  margin-top: 40px;
}
button {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to right,
    #26b399cf,
    #26b399,
    #26b399,
    #26b399,
    #26b399,
    #26b399ba
  );
  border-image-slice: 1;
  cursor: pointer;
  background: transparent;
}

button a {
  color: transparent;
  background: linear-gradient(to right, #26b399, #26b399);
  -webkit-background-clip: text;
}

/* skills section styling */
section:nth-of-type(2) h2 {
  font-size: 1.8rem;
  color: #e0e7f9ba;
}

section:nth-of-type(2) li {
  height: 40px;
  color: #e0e7f9ba;
}

section:nth-of-type(2) li span {
  display: inline-block;
  width: 90%;
  height: 10px;
  background: linear-gradient(
    to right,
    #26b399bb,
    #26b399,
    #26b39989,
    #26b39990,
    #26b399,
    #26b399,
    #26b399ba
  );
}

section:nth-of-type(2) li:nth-of-type(2) span {
  width: 75%;
}
section:nth-of-type(2) li:nth-of-type(3) span {
  width: 50%;
}
section:nth-of-type(2) li:nth-of-type(4) span {
  width: 30%;
}
section:nth-of-type(2) li:last-of-type span {
  width: 15%;
}

/* Projects section styling */
section:nth-of-type(3) {
  height: 100vh;
}
section:nth-of-type(3) h2 {
  font-size: 1.8rem;
  color: #e0e7f9ba;
}

section:nth-of-type(3) ul {
  display: flex;
  width: 100%;
  height: 50vh;
  flex-wrap: wrap;
  list-style-type: none;
}

section:nth-of-type(3) li {
  width: 35%;
  height: 100px;
  border: 2px solid;
  padding-top: 10%;
  border-image: linear-gradient(
    to right,
    #26b399cf,
    #26b399,
    #26b399,
    #26b399,
    #26b399,
    #26b399ba
  );
  border-image-slice: 1;
}

section:nth-of-type(3) li:nth-of-type(2),
section:nth-of-type(3) li:nth-of-type(4) {
  margin-left: 20%;
}
section:nth-of-type(3) li:nth-of-type(3),
section:nth-of-type(3) li:nth-of-type(4) {
  margin-top: 5%;
}

section:nth-of-type(3) p {
  margin-top: 25%;
  color: #e0e7f974;
  font-weight: bold;
}

section:nth-of-type(3) a {
  padding: 38%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right, #26b399, #26b399);
  -webkit-background-clip: text;
}

/* Contact section */
section:last-of-type{
    width:100%
}
section:last-of-type h2 {
  font-size: 2.9rem;
  color: #e0e7f9ba;
  border-bottom: 2px solid transparent;
  width:90%;
  border-image: linear-gradient(
    to right,
    #26b399cf,
    #26b399,
    #26b399,
    #26b399,
    #26b399,
    #26b399ba
  );
  border-image-slice: 1;
}



section:last-of-type div{
    display: flex;
}
div article{
    margin-top: -30px;
}

div article:last-of-type{
    padding-left: 30%;
}
article li{
    list-style-type: none;
    font-size: 1.2rem;
   
}
article a{
    text-decoration: none;
     color:#e0e7f980;
}
article p{
    font-weight: 700;
    font-size: 1.3rem;
    color: #e0e7f9ba;
}

p a{
    font-weight: 100;

}

article a span, p a span{
     color: transparent;
  background: linear-gradient(to right, #26b399, #26b399);
  -webkit-background-clip: text;
}

/* footer style */
footer a{
    color: transparent;
     background: linear-gradient(to right, #26b399, #26b399);
  -webkit-background-clip: text;
}

footer p{
    font-size: 1.5rem;
    color:#e0e7f9ce ;
}

a:hover{
    border-bottom: 2px solid ;
    
}